<header>
<h2>Swayam.CV</h2>
<nav>
  <a href="/About">About</a>
  <a href="/skills">Skills</a>
  <a href="/Experience">Experience</a>
  <a href="/Education">Education</a>
  <a href="/Certificates">Certificates</a>
  <a href="/Services">Services</a>
  <a href="/Testimonials">Testimonials</a>
  <a href="/Contact">Contact</a>
</nav>
</header>
<section>
  <div class="info">
    <img [src]="path" alt="img">
    <h3>Personal Information</h3>
    <p>Name: Swayam Jugran <br><br>Location:Faridabad<br><br>Mobile:9910976966<br><br>Email:swayamjgrn175@gmail.com</p>
  </div>
<div class="dt">
<p class="p1">HTML5 & CSS Developer</p>
<h1 class="nm">Swayam Jugran</h1>
<h2 class="t1">Description</h2>
  <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora similique culpa natus earum officia accusamus et enim nemo fugiat ratione vero totam amet beatae qui aut nisi, excepturi architecto molestias libero? Nam similique quidem omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae molestias qui a exercitationem maiores. Nostrum ex quis fugit corporis tempora. Accusantium consequatur cupiditate nam aperiam tenetur odio voluptates quo!</p>
</div>
</section>

 
  
  